html {
    background: linear-gradient(to bottom, rgb(23, 82, 184), rgb(43, 6, 103));
    font-family: Verdana, Geneva, sans-serif;
    color:aliceblue;
    min-height: 100%;
    text-align: center;
}
 
body { 
    margin: 25px;
    min-width: 340px;
    max-width: 1020px;
    width: 100%;
    min-height: 100%;
}
h1 {
    padding: 30px;
    font-size: 2.2em;
}
p {
    font-size: 1.3em;
}
a {
    color:aliceblue;
}
a:hover {
    color: mediumpurple;
}
/*rgb(120, 23, 84), rgb(51, 51, 51)*/